{% load staticfiles i18n game_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
 <meta charset="utf-8">
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="{% static 'game/favicon.ico' %}" rel="icon" type="image/x-icon">
 <title>Iron &amp; Blood</title>
 <link href="{% static 'game/css/bootstrap.min.css' %}" rel="stylesheet">
 <link href="{% static 'game/fonts/css/font-awesome.min.css' %}" rel="stylesheet">
 <link href="{% static 'game/css/animate.min.css' %}" rel="stylesheet">
 <link href="{% static 'game/css/custom.css' %}" rel="stylesheet">
 <style>
 .badge-notify{
  position: absolute;
  top: 2px;
  left: 8px;
  padding: 3px 3px 2px 3px;
  background-color: red;
  color: white;
  font-size: 9px;
  border-radius: 4px;
 }
 </style>
 {% block append_head %}
 {% endblock %}
</head>

<body class="nav-md">
 <div class="container body">
  <div class="main_container">
   <div class="col-md-3 left_col">
    <div class="left_col scroll-view">
     <div class="navbar nav_title" style="border: 0;">
      <a href="/" class="site_title">
       <i class="fa fa-globe"></i>
       <span>Iron &amp; Blood</span>
      </a>
     </div>
    <div class="clearfix"></div>
    {% block menu_profile %}
    <div class="profile">
     <div class="profile_pic">
      <img src="{% static 'game/images/avatar/7.png' %}" alt="..." class="img-circle profile_img">
     </div>
     <div class="profile_info">
      <span>{% trans 'Welcome' %},</span>
      <h2>{{ request.user.username }}</h2>
     </div>
    </div>
    {% endblock %}
    <br />
    {% block sidebar %}
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
     <div class="menu_section">
      <h3>{% trans 'Menu' %}</h3>
      <ul class="nav side-menu">
       <li>
        <a href="{% url 'game:home' %}">
         <i class="fa fa-home"></i>{% trans 'Home' %}
        </a>
       </li>
       <li>
        {% if pending_bonds.count %}
        <span class="badge badge-notify">{{ waiting_exchanges.count }}</span>
        {% endif %}
        <a href="{% url 'game:exchanges' %}">
         <i class="fa fa-gavel"></i>{% trans 'Exchanges' %}
        </a>
       </li>
       <li>
        {% if pending_bonds.count %}
        <span class="badge badge-notify">{{ pending_bonds.count }}</span>
        {% endif %}
        <a href="{% url 'game:exchanges' %}">
         <i class="fa fa-chain"></i>{% trans 'Bonds' %}
        </a>
       </li>
       <li>
        <a href="{% url 'game:profile' %}">
         <i class="fa fa-user"></i>{% trans 'Profile' %}
        </a>
       </li>
      </ul>
     </div>
    </div>
    {% endblock %}
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
     <div class="menu_section">
     <small>
      <ul class="nav side-menu">
       <li>&nbsp;
        <i class="fa fa-money"></i>{{ request.user.player.resources.currency }}
        </a>
       </li>
       <li>&nbsp;
        <i class="fa fa-tree"></i>{{ request.user.player.resources.agricultural }}
        </a>
       </li>
       <li>&nbsp;
        <i class="fa fa-gears"></i>{{ request.user.player.resources.manufactured }}
       </li>
      </ul>
      </small>
     </div>
    </div>
   </div>
  </div>
  {% block navigation %}
  <div class="top_nav">
   <div class="nav_menu">
    <nav class="" role="navigation">
     <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
     </div>
    </nav>
   </div>
  </div>
  {% endblock %}
  <div class="right_col" role="main">
   {% block content %}
   <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="dashboard_graph">
      <div class="row x_title">
       <div class="col-md-6">
        <h3>Empty <small>no content</small></h3>
       </div>
       <div class="col-md-6"></div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
       ...
      </div>
      <div class="clearfix"></div>
     </div>
    </div>
   </div>
   {% endblock %}
   <br />
   <footer>
    <div class="copyright-info">
     <p class="pull-right">{% current_game_date as d %}{{ d|date:"M d, Y" }}.</p>
    </div>
    <div class="clearfix"></div>
   </footer>
  </div>
 </div>
</div>

<script src="{% static 'game/js/jquery.min.js' %}"></script>
<script src="{% static 'game/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'game/js/bootstrap.min.js' %}"></script>
<script src="{% static 'game/js/custom.js' %}"></script>
<script src="{% static 'game/js/pnotify/pnotify.core.js' %}"></script>
<script src="{% static 'game/js/pnotify/pnotify.buttons.js' %}"></script>
<script src="{% static 'game/js/pnotify/pnotify.nonblock.js' %}"></script>
<script>
$('.x_title').on('mousedown', function() {
 $(this).find('.collapse-link').click();
});
</script>
{% block append_script %}
{% endblock %}

{% if messages %}
<script>
  {% for message in messages %}
    new PNotify({
      text: '{{ message }}',
      type: '{{ message.tags }}'
    });
  {% endfor %}
</script>
{% endif %}

</body>

</html>
